
@using Activity.DAL.Entity;
@using System.Globalization;
@{
    
}
 <script src="/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#detailblog',
        plugins: 'image code',
          toolbar: 'undo redo | link image ',
          /* enable title field in the Image dialog*/
          image_title: true,
          /* enable automatic uploads of images represented by blob or data URIs*/
          automatic_uploads: true,
          //images_upload_handler: example_image_upload_handler
          images_upload_url: '@Url.Action("UploadFileTiny", "UploadFile")',
          images_upload_base_path: ''
      });
</script>

                    <div class=" row mb-4">
                        <label class="col-md-3 form-label" for="image">Ảnh thumb<span class="text-red">*</span></label>
                        <div class="col-md-9">
                            <input type="file" id="uploadImage" class="form-control"  accept="image/*">
                        </div>
                    </div>
                    
                    <div class=" row mb-4" id="divViewImg" style="display: none">
                        <label class="col-md-3 form-label" ></label>
                        <div class="col-md-9">
                            <img id="viewImage" width="471" height="300" />
                        </div>
                    </div>
                    
                    <div class=" row mb-4">
                        <label class="col-md-3 form-label" for="title">Title <span class="text-red">*</span></label>
                        <div class="col-md-9">
                            <input type="text" id="title" class="form-control" placeholder="Điền title" required>
                        </div>
                    </div>

                     <div class=" row mb-4">
                        <label class="col-md-3 form-label" for="description">Description <span class="text-red">*</span></label>
                        <div class="col-md-9">
                            <input type="text" id="description" class="form-control" placeholder="Điền mô tả" required>
                        </div>
                    </div>

                    <div class=" row mb-4">
                        <label class="col-md-3 form-label" for="description">Tag <span class="text-red">*</span></label>
                        <div class="col-md-9">
                            <a class="btn btn-primary " onclick="addTag()"><i class="fe fe-plus"></i>Add Tag</a>
                            
                            
                            <div id="divTag" style="display: flex; gap: 10px; padding-top: 5px">
                                <input type="text" name="tag[]" class="form-control" placeholder="Điền Tag" required>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <label class="col-md-3 form-label" for="status"> Trạng thái</label>
                        <div class="col-md-9">
                            <select id="status" class="form-control  form-select"  >
                                <option value="1" selected> Hiện </option>
                                <option value="3"> Ẩn </option>
                            </select>
                        </div>
                    </div>

                    <div class=" row">
                        <label class="col-md-3 form-label">Chi tiết bài viết <span class="text-red">*</span></label>
                        <textarea id="detailblog"></textarea>
                    </div>
                    
                    <div class="p-3">
                        <a class="btn btn-primary" onclick="saveBlog()">Tạo</a>
                        <a class="btn btn-danger" href="@Url.Action("Detail")">Hủy</a>
                    </div>

<input type="file" id="file-upload" accept=".jpg, .png" style="display:none;">

<script>

    var urlImage = "";
    $(document).ready(function() {
        uploadImage.onchange = evt => {
          const [ file ] = uploadImage.files

            if (file) {
                console.log('file-------');
                console.log(file)
                 var fr = new FileReader;

                    fr.onload = function () { // file is loaded
                        var img = new Image;

                        img.onload = function () {
                            console.log(img.width); // image is loaded; sizes are available
                            console.log(img.height); // image is loaded; sizes are available
                            if (img.width != 1110 && img.height != 700) {
                                alert("Sử dụng ảnh đúng kích thước 1110 x 700 nhé!");
                                document.getElementById("uploadImage").value = "";
                                document.getElementById('divViewImg').src = '';
                                document.getElementById('divViewImg').style.display = 'none';
                            } else {
                                var param = {
                                    'Item': file,
                                    'IdUser': '@ViewData["UserID"]'
                                }

                                console.log('param-------');
                                console.log(param);

                                var formData = new FormData();
                                formData.append("Item", file);
                                formData.append("IdUser", @ViewData["UserID"]);

                                console.log('formData-------');
                                console.log(formData);
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("UploadFile", "UploadFile")",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    //async: true,
                                    success: function(data) {
                                        console.log("data", data)
                                        let obj = JSON.parse(data);
                                        if (obj.uploaded == 1) {
                                            urlImage = obj.url;
                                            viewImage.src = URL.createObjectURL(file);
                                            document.getElementById('divViewImg').style.display = 'flex';
                                        }
                                        else {
                                            alert("Lỗi upload ảnh");
                                            urlImage = "";
                                        }
                                    },
                                    error: function(errors) {
                                        alert('error al postear');
                                        return false;
                                    }
                                });
                            }
                        };

                        img.src = fr.result; // is the data URL because called with readAsDataURL
                    };

                fr.readAsDataURL(file);

            } else {
                urlImage = "";
                viewImage.src = "";
            }
        }
    });

    function addTag() {
            const input_Value = document.createElement('input');
			input_Value.type = 'text';
			input_Value.setAttribute("class", "form-control");
			input_Value.placeholder="Điền Tag" ;
			input_Value.name = 'tag[]' ; 

            var divTag = document.getElementById('divTag');

            divTag.appendChild(input_Value);
    }

    function saveBlog() {
        
        var title = document.getElementById("title").value;
        var thumb = urlImage;
        var description = document.getElementById("description").value;
        var detailBlog = tinyMCE.get('detailblog').getContent();
        var status = document.getElementById("status").value;
        var lstTag = [];

        // Lấy tất cả các phần tử input có thuộc tính "name"
        var inputElements = document.querySelectorAll('input[name="tag[]"]');

        // Lặp qua từng phần tử input và thêm giá trị vào mảng nameValues
        for (var i = 0; i < inputElements.length; i++) {
          var value = inputElements[i].value;
          lstTag.push(value);
        }
          
      
        if (title == "") {
            alert('Bạn cần điền thông tin title');
        }
        else if (description == "") {
            alert('Bạn cần điền thông tin description');
        }
        else if (urlImage == "") {
            alert('Bạn cần tải lên ảnh');
        }
        else if (detailBlog == "") {
            alert('Bạn cần điền thông tin chi tiết bài viết');
        }
        else {
            var param = {
                "Thumb": thumb,
                "Title": title,
                "Description": description,
                "Content": detailBlog,
                "Status": status,
                "MetaDescription": JSON.stringify(lstTag),
            }

            console.log(param);

            $.ajax({
                type: 'POST',
                url: "@Url.Action("Add")",
                data: param,
                async: true,
                success: function (data) {
                    console.log("data", data)
                    if (data.isSuccess) {
                        alert('Thêm mới thành công');
                        location.href = '@Url.Action("Detail")';
                    }
                    else {
                        notifyError(data.errorMessage);
                    }
                }
            });
        }
       
    }



</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />