@using Minxtu.DAL.Entity;
@using Activity.DAL.Enum;
@using Newtonsoft.Json
@{
    Layout = null;
    List<News> lstBlogs = Model.lstBLogs;
    List<News> tredingBLogs = Model.tredingBLogs;
    List<Tag> lstTag = Model.lstTag;
    var urlFb = Model.urlFb;
        var urlTele = Model.urlTele;
        var urlTt = Model.urlTt;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyMoney</title>
    <link rel="icon" type="image/x-icon" href="../images/logo.svg">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="assets/css/docs.theme.min.css" />

    <!-- Owl Stylesheets -->

    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="../css/app.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
     
    <!-- <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.0.min.js"
      ></script> -->
    <!-- <link
        rel="stylesheet"
        href="https://unpkg.com/swiper/swiper-bundle.min.css"
      /> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div class="wrapper body-home">
      <header>
        <div class="header-top">
          <a href="@Url.Action("Index","Home")" class="logo">
            <img src="../images/logo.svg" alt="" />
          </a>
          <div class="header-bar visible-s">
            <img src="../images/PC_index/icon-bar.svg" alt="" />
          </div>
          <div class="header-fixed">
            <ul class="menu">
              <li class="menu-item menu-home">
                <a href="@Url.Action("Index","Home")" class="menu-link menu-active "
                  >Home</a
                >
                <i class="fas fa-times close-header-fixed visible-s"></i>
              </li>
              <li class="menu-item">
                <a href="@Url.Action("Index","Work")" class="menu-link menu-active">How It Works</a>
              </li>
              <li class="menu-item">
                <a href="@Url.Action("Index","News")" class="menu-link menu-active actived">Blog</a>
              </li>
              <li class="menu-item">
                <a href="@Url.Action("Index","Transparency")" class="menu-link menu-active ">Transparency</a>
              </li>
              <li class="menu-item">
                <a href="@Url.Action("Index","Contact")" class="menu-link menu-active">Contact</a>
              </li>
            </ul>
          </div>
          <button  class="blog-button visible-lg"  onclick="window.open('https://docs.mymoney.credit/my-money-credit/how-my-money-credit-operates/2.-vietnam-dong-coin-dong','_blank')">
            Whitepaper <i class="fa fa-caret-right"></i>
          </button>
        </div>
      </header>
      <main>
        <section class="text-about">
          <div class="text-about-top blog-img-top"><img src="/images/PC_blog/img-top.svg" alt=""></div>
          <div class="text-about-mid">Blog</div>
          <div class="d-flex justify-content-center">
            <div class="text-about-desc blog-desc-top" style="max-width: unset;">Exploring the World of Fiat-Pegged Tokens: Stability, Security, and Smart Investing</div>
          </div>
        </section>
        <section>
          <div  class="blog-search">
            <input class="blog-insearch" id="txtSearch" type="search" placeholder="Search">
            <div class="blog-search-tag">
              <div class="blog-search-txt">Trending Tag: </div>
              <div> 
                @if(lstTag.Count() > 0 )
                {
                    @foreach(var obj in lstTag)
                    {
                             <button id="@obj.Id" class="blog-search-btn" onclick="getPostTagTrend(id)">@obj.TagName</button>       
                    }
                }
              </div>
              
            </div>
            
          </div>
        </section>
        
        <section class="container blog-trending" id="sectionTrending">
          <div class="trending-title"><img src="/images/PC_blog/icon-arrow.svg" alt=""> Trending Blog</div>
          <div id="listTrendingBlogs">
                @if(tredingBLogs.Count() > 0 )
                {
                        @foreach(var obj in tredingBLogs)
                    {
                        <div class="trending-item" id="@obj.Id">
                          <div class="readmore" >
                            <img src="/images/PC_blog/img-readmore1.svg" alt="">
                            <img src="/images/PC_blog/img-readmore2.svg" alt="">
                            <img src="/images/PC_blog/img-readmore1.svg" alt="">
                          </div>
                          <a href="/News/Post/@obj.Id" target="_blank">
                            <div class="trending-post">
                              <!-- <div class="col-md-6 col-8 "> -->
                                  <div style="border-radius: 7px; overflow: hidden;">
                                       <img src="@obj.Thumb" alt="">
                                  </div>
                               
                                <div  class="trending-post-header">@obj.Title</div>
                                <div class="trending-post-date">@obj.StrCreateTime</div>
                              <!-- </div> -->
                            </div>
                          </a>
                        </div>
                        }
                    } else
                    {
                        <div class="trending-item">
                          <div class="readmore" >
                            <img src="/images/PC_blog/img-readmore1.svg" alt="">
                            <img src="/images/PC_blog/img-readmore2.svg" alt="">
                            <img src="/images/PC_blog/img-readmore1.svg" alt="">
                          </div>
                          <a >
                            <div class="trending-post">
                              <!-- <div class="col-md-6 col-8 "> -->
                                <img src="/images/PC_blog/img-post.svg" alt="">
                                <div  class="trending-post-header">Why the DONG Forum Is the Heart of the Maker Community</div>
                                <div class="trending-post-date">May 02</div>
                              <!-- </div> -->
                            </div>
                          </a>
                        </div>
                        <div class="trending-item">
                          <div class="readmore" >
                            <img src="/images/PC_blog/img-readmore1.svg" alt="">
                            <img src="/images/PC_blog/img-readmore2.svg" alt="">
                            <img src="/images/PC_blog/img-readmore1.svg" alt="">
                          </div>
                          <a >
                            <div class="trending-post">
                              <!-- <div class="col-md-6 col-8 "> -->
                                <img src="/images/PC_blog/img-post.svg" alt="">
                                <div  class="trending-post-header">Why the DONG Forum Is the Heart of the Maker Community</div>
                                <div class="trending-post-date">May 02</div>
                              <!-- </div> -->
                            </div>
                          </a>
                        </div>
                        <div class="trending-item">
                          <div class="readmore" >
                            <img src="/images/PC_blog/img-readmore1.svg" alt="">
                            <img src="/images/PC_blog/img-readmore2.svg" alt="">
                            <img src="/images/PC_blog/img-readmore1.svg" alt="">
                          </div>
                          <a >
                            <div class="trending-post">
                              <!-- <div class="col-md-6 col-8 "> -->
                                <img src="/images/PC_blog/img-post.svg" alt="">
                                <div  class="trending-post-header">Why the DONG Forum Is the Heart of the Maker Community</div>
                                <div class="trending-post-date">May 02</div>
                              <!-- </div> -->
                            </div>
                          </a>
                        </div>
                        <div class="trending-item">
                          <div class="readmore" >
                            <img src="/images/PC_blog/img-readmore1.svg" alt="">
                            <img src="/images/PC_blog/img-readmore2.svg" alt="">
                            <img src="/images/PC_blog/img-readmore1.svg" alt="">
                          </div>
                          <a >
                            <div class="trending-post">
                              <!-- <div class="col-md-6 col-8 "> -->
                                <img src="/images/PC_blog/img-post.svg" alt="">
                                <div  class="trending-post-header">Why the DONG Forum Is the Heart of the Maker Community</div>
                                <div class="trending-post-date">May 02</div>
                              <!-- </div> -->
                            </div>
                          </a>
                        </div>
                    }
          </div>
          <div class="trending-btn">
            <button class="blog-button" id="btnRMTrend" onclick="AddBlogTrend()">Read more <i class="fa fa-caret-right"></i></button>
          </div>
        </section>
        <section class="container blog-all" id="sectionAllBlog">
          <div class="blogall-title"><img src="/images/PC_blog/icon-arrow.svg" alt=""> All Blog</div>
          <div class="col-md-10 blogall-list" id="listAllBlogPC">
              @if(lstBlogs.Count() > 0 )
                {
                    @foreach(var obj in lstBlogs)
                    {
                        <div class="row blogall-item" id="@obj.Id">
                          <div class="col-md-8">
                            <div class="blogall-item-author">
                              <i class="fa fa-caret-right"></i> @obj.Author &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> @obj.StrCreateTime
                            </div>
                            <a href="/News/Post/@obj.Id" target="_blank">
                                <div class="blogall-item-title">
                                  @obj.Title
                                </div>
                            </a>
                            <div  class="blogall-item-desc">
                              @obj.Description
                            </div>
                            <div  class="blogall-item-btn">
                                @if (!string.IsNullOrEmpty(obj.MetaDescription))
                                {
                                    List<string> lstTagItem = JsonConvert.DeserializeObject<List<string>>(obj.MetaDescription);
                                   
                                    foreach (var item in lstTagItem)
                                    {
                                        if(item != "")
                                        {
                                            <button id="@obj.Id+@item" onclick="getPostTagAll(id)">@item</button> 
                                        }
                                    }
                                }
                            </div>
                          </div>
                          <div class="col-md-4">
                              <a href="/News/Post/@obj.Id" target="_blank">
                                  <div style="overflow:hidden; border-radius: 8px">
                                      <img src="@obj.Thumb" alt="">
                                  </div>
                              </a>
                            
                          </div>
                          <div class="blogall-hr"></div>
                        </div>
                        }
                    } else
                    {
                         <div class="row blogall-item">
                          <div class="col-md-8">
                            <div class="blogall-item-author">
                              <i class="fa fa-caret-right"></i> Tylie Do&Yoo &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> 01/04/2023
                            </div>
                            <div class="blogall-item-title">
                              Why the DONG Forum Is the Heart of the Maker Community
                            </div>
                            <div  class="blogall-item-desc">
                              Follow our social media for the latest updates and insights on My Money Credit and DONG token. Don't miss out on the opportunity to be part of the future of finance.
                            </div>
                            <div  class="blogall-item-btn">
                              <button>Tag01</button>
                              <button>Tag02</button>
                              <button>Tag03</button>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <img src="/images/PC_blog/img-news.svg" alt="">
                          </div>
                          <div class="blogall-hr"></div>
                        </div>
                        <div class="row blogall-item">
                          <div class="col-md-8">
                            <div class="blogall-item-author">
                              <i class="fa fa-caret-right"></i> Tylie Do&Yoo &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> 01/04/2023
                            </div>
                            <div class="blogall-item-title">
                              Why the DONG Forum Is the Heart of the Maker Community
                            </div>
                            <div  class="blogall-item-desc">
                              Follow our social media for the latest updates and insights on My Money Credit and DONG token. Don't miss out on the opportunity to be part of the future of finance.
                            </div>
                            <div  class="blogall-item-btn">
                              <button>Tag01</button>
                              <button>Tag02</button>
                              <button>Tag03</button>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <img src="/images/PC_blog/img-news.svg" alt="">
                          </div>
                          <div class="blogall-hr"></div>
                        </div>
                        <div class="row blogall-item">
                          <div class="col-md-8">
                            <div class="blogall-item-author">
                              <i class="fa fa-caret-right"></i> Tylie Do&Yoo &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> 01/04/2023
                            </div>
                            <div class="blogall-item-title">
                              Why the DONG Forum Is the Heart of the Maker Community
                            </div>
                            <div  class="blogall-item-desc">
                              Follow our social media for the latest updates and insights on My Money Credit and DONG token. Don't miss out on the opportunity to be part of the future of finance.
                            </div>
                            <div  class="blogall-item-btn">
                              <button>Tag01</button>
                              <button>Tag02</button>
                              <button>Tag03</button>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <img src="/images/PC_blog/img-news.svg" alt="">
                          </div>
                          <div class="blogall-hr"></div>
                        </div>
                    }
           
           
          </div>
          <div class="blogall-btn">
            <button class="blog-button" id="readmoreBtnPC" onclick="AddBlogAllPC()">Read more <i class="fa fa-caret-right"></i></button>
          </div>
        </section>
        <section class="container blog-all searchHaveData" id="sectionSearchAllBlog">
            <div class="blogall-title searchBlog-title"><img src="/images/PC_blog/icon-arrow.svg" alt=""> We found <span id="countResultSearch"></span> Results With “<span id="keywordSearchData"></span>”</div>
            <div class="blogall-sort">
                <div class="btn-group">
                    <button class="btn dropdown-toggle btn-sort" id="btnChooseSort" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sort By &nbsp; <i class="fas fa-chevron-down" style="color: #FFB800"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-sort" style="">
                        <li><a class="dropdown-item" onclick="sortDataSearch(this)">Newest</a></li>
                        <li><a class="dropdown-item" onclick="sortDataSearch(this)">Oldest</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 blogall-list" id="listAllBlogSearchPC">
            </div>
            <div class="blogall-btn" id="btnReadMoreSearch">
                <button class="blog-button" id="readmoreBtnPC" onclick="readMoreSearch()">Read more <i class="fa fa-caret-right"></i></button>
            </div>
        </section>
        <section class="container searchNoData" id="sectionNoDataSearch">
            <img src="../images/PC_blog/img-found.svg" alt="" />
            <div class="searchNoData-title">We found 0 Results With "<span id="keywordSearch"></span>"</div>
            <div class="searchNoData-desc">Please try searching with another keyword</div>
        </section>
      </main>
      <footer>
        <div class="footer-top"><img src="/images/logo.svg" alt="">Dong </div>
        <div class="visible-s">
          <div class="footer-desc">
            DONG Token is the VND-pegged token that is available on multiple blockchains, providing diversified financial opportunities and increased financial inclusion
          </div>
        </div >
            <ul class="footer-menu">
              <li>
                <a href="@Url.Action("Index","Home")">Home</a>
              </li>
              <li>
                <a href="@Url.Action("Index","Work")">How It Works</a>
              </li>
              <li>
                <a href="https://docs.mymoney.credit/my-money-credit/how-my-money-credit-operates/2.-vietnam-dong-coin-dong" target="_blank">Whitepaper</a>
              </li>
              <li>
                <a class="footer-menu-active" href="@Url.Action("Index","News")">Blog</a>
              </li>
              <li>
                <a  href="@Url.Action("Index","Transparency")">Transparency</a>
              </li>
              <li>
                <a href="@Url.Action("Index","Contact")">Contact</a>
              </li>
            </ul>
            <div class="d-flex justify-content-center visible-lg">
              <div class="footer-desc">
                DONG Token is the VND-pegged token that is available on multiple blockchains, providing diversified financial opportunities and increased financial inclusion
              </div>
            </div >
            <div class="d-flex justify-content-center p-3">
              <img src="/images/imgft.svg" alt="">
            </div>
            
            <ul class="footer-social pb-3">
              <li>
                <a href="@urlTt" target="_blank"><i class="fab fa-twitter  icon-footer"></i></a>
              </li>
              <li>
                <a href="@urlFb"  target="_blank"><i class="fab fa-facebook icon-footer"></i></a>
              </li>
              <li>
                <a href="@urlTele"  target="_blank"><i class="fab fa-telegram icon-footer"></i></a>
              </li>
            </ul>
            <div div class="footer-bot">© 2023, All Rights Reserved by DONG</div>
            <a href="#" class="back-to-top">
              <img src="../images/PC_index/keyboard_double_arrow_up.svg" alt="" />
            </a>
      </footer>
    </div>
    <script>
        var dataSearchAll = [];
        var tagSearch = "";
        document.getElementById("txtSearch").addEventListener("search", function(event) {
            if (document.getElementById("txtSearch").value == "") {
                $("#sectionTrending").show();
                $("#sectionAllBlog").show();
                $("#sectionNoDataSearch").hide();
                $("#sectionSearchAllBlog").hide();
            }
        });
        $(document).keyup(function(event) {
            if (event.which === 13) {
                var tagElement = document.getElementsByClassName("blog-search-btn-active");
                var textInput = document.getElementById("txtSearch").value;
                var TagName = "";
                if (tagElement.length > 0) {
                    for (let i = 0; i < tagElement.length; i++) {
                        TagName = tagElement[i].textContent;
                        tagSearch = tagElement[i].textContent;
                    }
                }
                console.log(tagElement);
                if(textInput != "") {
                    var param = {
                        "TagName": TagName,
                        "txtSearch": textInput
                    }
                    console.log(param);

                    $.ajax({
                        type: 'POST',
                        url: "@Url.Action("searchDataPost", "Api")",
                        data: param,
                        async: true,
                        success: function (data) {
                            if (data.isSuccess) {
                                console.log("data", data);
                                var obj = data.data;
                                dataSearchAll = data.data;
                                var content = "";
                                if(obj.length == 0) {
                                    $("#sectionTrending").hide();
                                    $("#sectionAllBlog").hide();
                                    document.getElementById("keywordSearch").textContent = textInput;
                                    $("#sectionNoDataSearch").show();
                                    $("#sectionSearchAllBlog").hide();
                                    return;
                                }
                                $("#listAllBlogSearchPC").empty();
                                

                                $("#sectionTrending").hide();
                                $("#sectionAllBlog").hide();
                                if (obj.length < 10) {
                                    $("#btnReadMoreSearch").hide();
                                    document.getElementById("countResultSearch").textContent = "0" + obj.length;
                                    for (let i = 0; i < obj.length; i++) { 
                                        let opt = `<div class="row blogall-item" id="${obj[i].id}">
                                            <div class="col-md-8">
                                            <div class="blogall-item-author">`
                                            if (window.innerWidth > 768) {
                                                opt += ` <i class="fa fa-caret-right"></i> ${obj[i].author} &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> ${obj[i].strCreateTime}`
                                            } else {
                                                opt += `${obj[i].strCreateTime}`
                                            }
                                            opt += `</div>
                                            <a href="/News/Post/${obj[i].id}" target="_blank">
                                                <div class="blogall-item-title">
                                                    ${obj[i].title}
                                                </div>
                                            </a>
                                            <div class="blogall-item-desc">
                                                ${obj[i].description}
                                            </div>
                                            <div class="blogall-item-btn">`;
                                            var lstTag = JSON.parse(obj[i].metaDescription);
                                                for (let j = 0; j < lstTag.length; j++) {
                                                    if(TagName == lstTag[j]) {
                                                        opt += `<button id="${obj[i].id}+${lstTag[j]}" class="blogall-item-btn-active" onclick="getPostTagAll(id)">${lstTag[j]}</button>`;
                                                    } else {
                                                        opt += `<button id="${obj[i].id}+${lstTag[j]}" onclick="getPostTagAll(id)">${lstTag[j]}</button>`;
                                                    }
                                                }

                                            opt += ` </div>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="/News/Post/${obj[i].id}" target="_blank">
                                                    <div style="overflow:hidden; border-radius: 8px">
                                                        <img src="${obj[i].thumb}" alt="">
                                                    </div>
                                                </a>
                            
                                            </div>
                                            <div class="blogall-hr"></div>
                                        </div>
                                    `
                                        $("#listAllBlogSearchPC").append(opt);
                                    }
                                } else {
                                    $("#btnReadMoreSearch").show();
                                    document.getElementById("countResultSearch").textContent =  obj.length;
                                    for (let i = 0; i < 8; i++) { 
                                        let opt = `<div class="row blogall-item" id="${obj[i].id}">
                                            <div class="col-md-8">
                                            <div class="blogall-item-author">`
                                            if (window.innerWidth > 768) {
                                                opt += ` <i class="fa fa-caret-right"></i> ${obj[i].author} &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> ${obj[i].strCreateTime}`
                                            } else {
                                                opt += `${obj[i].strCreateTime}`
                                            }
                                            opt += `</div>
                                            <a href="/News/Post/${obj[i].id}" target="_blank">
                                                <div class="blogall-item-title">
                                                    ${obj[i].title}
                                                </div>
                                            </a>
                                            <div class="blogall-item-desc">
                                                ${obj[i].description}
                                            </div>
                                            <div class="blogall-item-btn">`;
                                            var lstTag = JSON.parse(obj[i].metaDescription);
                                                for (let j = 0; j < lstTag.length; j++) {
                                                    if(TagName == lstTag[j]) {
                                                        opt += `<button id="${obj[i].id}+${lstTag[j]}" class="blogall-item-btn-active" onclick="getPostTagAll(id)">${lstTag[j]}</button>`;
                                                    } else {
                                                        opt += `<button id="${obj[i].id}+${lstTag[j]}" onclick="getPostTagAll(id)">${lstTag[j]}</button>`;
                                                    }
                                                }

                                            opt += ` </div>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="/News/Post/${obj[i].id}" target="_blank">
                                                    <div style="overflow:hidden; border-radius: 8px">
                                                        <img src="${obj[i].thumb}" alt="">
                                                    </div>
                                                </a>
                            
                                            </div>
                                            <div class="blogall-hr"></div>
                                        </div>
                                    `
                                        $("#listAllBlogSearchPC").append(opt);
                                    }
                                }
                                
                                document.getElementById("keywordSearchData").textContent = textInput;
                                $("#sectionNoDataSearch").hide();
                                $("#sectionSearchAllBlog").show();
                                console.log("dataSearchAll======");
                                console.log(dataSearchAll);
                            }
                            else {
                                alert(data.errorMessage);
                            }
                        }
                    });
                }
                
            }
        });

        var IdTag = 0;
        var IdTagAllBlog = "";

        function readMoreSearch() {
            var divParent = document.getElementById("listAllBlogSearchPC");
            var countDiv = divParent.children.length;
            var countPost = dataSearchAll.length - countDiv;
            console.log(countPost);
            if ( 0< countPost < 6) {
                for (let i = 0; i < dataSearchAll.length; i++) { 
                    let opt = `<div class="row blogall-item" id="${dataSearchAll[i].id}">
                        <div class="col-md-8">
                        <div class="blogall-item-author">`
                        if (window.innerWidth > 768) {
                            opt += ` <i class="fa fa-caret-right"></i> ${dataSearchAll[i].author} &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> ${dataSearchAll[i].strCreateTime}`
                        } else {
                            opt += `${dataSearchAll[i].strCreateTime}`
                        }
                        opt += `</div>
                        <a href="/News/Post/${dataSearchAll[i].id}" target="_blank">
                            <div class="blogall-item-title">
                                ${dataSearchAll[i].title}
                            </div>
                        </a>
                        <div class="blogall-item-desc">
                            ${dataSearchAll[i].description}
                        </div>
                        <div class="blogall-item-btn">`;
                        var lstTag = JSON.parse(dataSearchAll[i].metaDescription);
                            for (let j = 0; j < lstTag.length; j++) {
                                if(tagSearch == lstTag[j]) {
                                    opt += `<button id="${dataSearchAll[i].id}+${lstTag[j]}" class="blogall-item-btn-active" onclick="getPostTagAll(id)">${lstTag[j]}</button>`;
                                } else {
                                    opt += `<button id="${dataSearchAll[i].id}+${lstTag[j]}" onclick="getPostTagAll(id)">${lstTag[j]}</button>`;
                                }
                            }

                        opt += ` </div>
                        </div>
                        <div class="col-md-4">
                            <a href="/News/Post/${dataSearchAll[i].id}" target="_blank">
                                 <div style="overflow:hidden; border-radius: 8px">
                                    <img src="${dataSearchAll[i].thumb}" alt="">
                                 </div>
                            </a>
                            
                        </div>
                        <div class="blogall-hr"></div>
                    </div>
                `
                    $("#listAllBlogSearchPC").append(opt);
                }
                $("#btnReadMoreSearch").hide();
            } else {
                for (let i = 0; i < 6; i++) { 
                    let opt = `<div class="row blogall-item" id="${dataSearchAll[i].id}">
                        <div class="col-md-8">
                        <div class="blogall-item-author">`
                        if (window.innerWidth > 768) {
                            opt += ` <i class="fa fa-caret-right"></i> ${dataSearchAll[i].author} &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> ${dataSearchAll[i].strCreateTime}`
                        } else {
                            opt += `${dataSearchAll[i].strCreateTime}`
                        }
                        opt += `</div>
                        <a href="/News/Post/${dataSearchAll[i].id}" target="_blank">
                            <div class="blogall-item-title">
                                ${dataSearchAll[i].title}
                            </div>
                        </a>
                        <div class="blogall-item-desc">
                            ${dataSearchAll[i].description}
                        </div>
                        <div class="blogall-item-btn">`;
                        var lstTag = JSON.parse(dataSearchAll[i].metaDescription);
                            for (let j = 0; j < lstTag.length; j++) {
                                if(tagSearch == lstTag[j]) {
                                    opt += `<button id="${dataSearchAll[i].id}+${lstTag[j]}" class="blogall-item-btn-active" onclick="getPostTagAll(id)">${lstTag[j]}</button>`;
                                } else {
                                    opt += `<button id="${dataSearchAll[i].id}+${lstTag[j]}" onclick="getPostTagAll(id)">${lstTag[j]}</button>`;
                                }
                            }

                        opt += ` </div>
                        </div>
                        <div class="col-md-4">
                            <a href="/News/Post/${dataSearchAll[i].id}" target="_blank">
                                 <div style="overflow:hidden; border-radius: 8px">
                                    <img src="${dataSearchAll[i].thumb}" alt="">
                                 </div>
                            </a>
                            
                        </div>
                        <div class="blogall-hr"></div>
                    </div>
                `
                    $("#listAllBlogSearchPC").append(opt);
                }
            }
        }

        function AddBlogTrend(){  // onclick button readmore bên dưới trending blog
            var lstBlog = document.querySelectorAll(".trending-item");
            var tagElement = document.getElementsByClassName("blog-search-btn-active");
            var textInput = document.getElementById("txtSearch").value;
            var TagName = "";
            var lstId = [];
            if (tagElement.length > 0) {
                for (let i = 0; i < tagElement.length; i++) {
                    TagName = tagElement[i].textContent;
                }
            }
            console.log(tagElement)
            console.log(lstBlog);
            for (let i = 0; i < lstBlog.length; i++) {
                lstId.push(lstBlog[i].id);
            }
            var param = {
                "listBlog": lstId,
                "TagName": TagName,
                "txtSearch": textInput
            }
            console.log(param);

            $.ajax({
                type: 'POST',
                url: "@Url.Action("getMoreBlogTrend", "Api")",
                data: param,
                async: true,
                success: function (data) {
                    if (data.isSuccess) {
                        console.log("data", data);
                        var obj = data.data;
                        var content = "";
                        
                        for (let i = 0; i < obj.length; i++) {
                            let opt = ` <div class="trending-item" id="${obj[i].id}">
                                            <div class="readmore" >
                                            <img src="/images/PC_blog/img-readmore1.svg" alt="">
                                            <img src="/images/PC_blog/img-readmore2.svg" alt="">
                                            <img src="/images/PC_blog/img-readmore1.svg" alt="">
                                        </div>
                                        <a href="/News/Post/${obj[i].id}"  target="_blank">
                                            <div class="trending-post">
                                                <div style="border-radius: 7px; overflow: hidden;">
                                                    <img src="${obj[i].thumb}" alt="">
                                                </div>
                                                <div  class="trending-post-header">${obj[i].title}</div>
                                                <div class="trending-post-date">${obj[i].strCreateTime}</div>
                                            </div>
                                        </a>
                                    `
                            $("#listTrendingBlogs").append(opt);
                        }
                        if (data.effectRow == 999) {
                            document.getElementById("btnRMTrend").style.display = 'none';
                        }
                    }
                    else {
                        alert(data.errorMessage);
                    }
                }
            });
        }

    function AddBlogAllPC(){ // button readmore bên dưới all blog PC
        var lstBlog = document.querySelectorAll(".blogall-item");
        var tagElement = document.getElementsByClassName("blogall-item-btn-active");
        var TagName = "";
        var lstId = [];
        if (tagElement.length > 0) {
            TagName = tagElement[0].textContent;
        }

        for (let i = 0; i < lstBlog.length; i++) {
            lstId.push(lstBlog[i].id);
        }
        console.log(lstId);
        var param = {
            "listBlog": lstId,
            "TagName": TagName
        }
        console.log(param);

        $.ajax({
            type: 'POST',
            url: "@Url.Action("getMoreBlogAll", "Api")",
            data: param,
            async: true,
            success: function (data) {
                if (data.isSuccess) {
                    console.log("data", data);
                    var obj = data.data;
                    if (data.effectRow == 999) {
                         document.getElementById("readmoreBtnPC").style.display = 'none';
                    }
                    appendAllDataPC(obj, TagName);
                }
                else {
                    alert(data.errorMessage);
                }
            }
        });
    } 
    
    function appendAllDataPC(obj, TagName) {
        for (let i = 0; i < obj.length; i++) {
            let opt = `<div class="row blogall-item" id="${obj[i].id}">
                <div class="col-md-8">
                <div class="blogall-item-author">
                    <i class="fa fa-caret-right"></i> ${obj[i].author} &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> ${obj[i].strCreateTime}
                </div>
                <a href="/News/Post/${obj[i].id}" target="_blank">
                    <div class="blogall-item-title">
                        ${obj[i].title}
                    </div>
                </a>
                <div class="blogall-item-desc">
                    ${obj[i].description}
                </div>
                <div class="blogall-item-btn">`;
                var lstTag = JSON.parse(obj[i].metaDescription);
                    for (let j = 0; j < lstTag.length; j++) {
                        if(TagName == lstTag[j]) {
                            opt += `<button id="${obj[i].id}+${lstTag[j]}" class="blogall-item-btn-active" onclick="getPostTagAll(id)">${lstTag[j]}</button>`;
                        } else {
                            opt += `<button id="${obj[i].id}+${lstTag[j]}" onclick="getPostTagAll(id)">${lstTag[j]}</button>`;
                        }
                    }

                opt += ` </div>
                </div>
                <div class="col-md-4">
                    <a href="/News/Post/${obj[i].id}" target="_blank">
                        <img src="${obj[i].thumb}" alt="">
                    </a>
                            
                </div>
                <div class="blogall-hr"></div>
            </div>
        `
            $("#listAllBlogPC").append(opt);
        }
    }

    function getPostTagTrend(Id) { // onclick trending tag bên cạnh input search
        if(IdTag!= 0 && Id != IdTag) {
            var oldTag = document.getElementById(IdTag);
            oldTag.classList.remove("blog-search-btn-active");
        }
        var textInput = document.getElementById("txtSearch").value;
        var element = document.getElementById(Id);
        element.classList.add("blog-search-btn-active");
        var tag = element.textContent;
        var param = {
            "TagName": tag,
            "txtSearch": textInput
        }
        console.log(param)
        $.ajax({
            type: 'POST',
            url: "@Url.Action("searchDataPost", "Api")",
            data: param,
            async: true,
            success: function (data) {
                if (data.isSuccess) {
                    IdTag = Id;
                    console.log("data", data);
                    var obj = data.data;
                    $("#listTrendingBlogs").empty();
                    var content = "";
                    if(obj.length == 0) {
                        $("#btnRMTrend").hide();
                        return;
                    }
                    for (let i = 0; i < obj.length; i++) {
                        let opt = ` <div class="trending-item" id="${obj[i].id}">
                                        <div class="readmore" >
                                        <img src="/images/PC_blog/img-readmore1.svg" alt="">
                                        <img src="/images/PC_blog/img-readmore2.svg" alt="">
                                        <img src="/images/PC_blog/img-readmore1.svg" alt="">
                                    </div>
                                    <a href="/News/Post/${obj[i].id}"  target="_blank">
                                        <div class="trending-post">
                                            <div style="border-radius: 7px; overflow: hidden;">
                                                <img src="${obj[i].thumb}" alt="">
                                            </div>
                                            <div  class="trending-post-header">${obj[i].title}</div>
                                            <div class="trending-post-date">${obj[i].strCreateTime}</div>
                                        </div>
                                    </a>
                                `
                        $("#listTrendingBlogs").append(opt);
                    }
                }
                else {
                    alert(data.errorMessage);
                }
            }
        });
    }
    
    function getPostTagAll(Id) { // onclick tag các bài blog hiển thị ở all blog
        console.log('-------' + Id)
        var element = document.getElementById(Id);
        var tag = element.textContent;
        var param = {
            "TagName": tag
        }
        console.log(param)
        $.ajax({
            type: 'POST',
            url: "@Url.Action("getPostFTagAll", "Api")",
            data: param,
            async: true,
            success: function (data) {
                if (data.isSuccess) {
                    IdTagAllBlog = Id;
                    console.log("data", data);
                    var obj = data.data;
                    var tagChoosed = Id.substring(Id.indexOf('+') + 1);

                        addPostTagAllPC(obj, tagChoosed);
                }
                else {
                    alert(data.errorMessage);
                }
            }
        });
    }

    function addPostTagAllPC(obj, idOld){  // add các bài lấy đc ở PC
        $("#listAllBlogPC").empty();
        var content = "";
        for (let i = 0; i < obj.length; i++) {
            let opt = `<div class="row blogall-item" id="${obj[i].id}">
                            <div class="col-md-8">
                            <div class="blogall-item-author">
                                <i class="fa fa-caret-right"></i> ${obj[i].author} &nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> ${obj[i].strCreateTime}
                            </div>
                            <a href="/News/Post/${obj[i].id}" target="_blank">
                                <div class="blogall-item-title">
                                    ${obj[i].title}
                                </div>
                            </a>
                            <div class="blogall-item-desc">
                                ${obj[i].description}
                            </div>
                            <div class="blogall-item-btn">`;
                            var lstTag = JSON.parse(obj[i].metaDescription);
                                for (let j = 0; j < lstTag.length; j++) {
                                    if(idOld == lstTag[j]) {
                                        opt += `<button id="${obj[i].id}+${lstTag[j]}" class="blogall-item-btn-active" onclick="getPostTagAll(id)">${lstTag[j]}</button>`;
                                    } else {
                                        opt += `<button id="${obj[i].id}+${lstTag[j]}" onclick="getPostTagAll(id)">${lstTag[j]}</button>`;
                                    }
                                }

                            opt += ` </div>
                            </div>
                            <div class="col-md-4">
                                <a href="/News/Post/${obj[i].id}" target="_blank">
                                    <img src="${obj[i].thumb}" alt="">
                                </a>
                            
                            </div>
                            <div class="blogall-hr"></div>
                        </div>
                    `
            $("#listAllBlogPC").append(opt);
        }
    }
    function sortDataSearch(element){
        var dropdownItem = document.querySelectorAll(".dropdown-sort-active");
        element.classList.add("dropdown-sort-active");
        if(dropdownItem.length > 0) {
            for (let i = 0; i < dropdownItem.length; i++) {
                if (element.textContent != dropdownItem[i].textContent) {
                    element.classList.add("dropdown-sort-active");
                    dropdownItem[i].classList.remove("dropdown-sort-active");
                }
            }
        }
        dataSearchAll = dataSearchAll.map(obj => {
          return {...obj, createTime: new Date(obj.createTime)};
        });

        if(element.textContent == "Newest") {
            console.log("sắp xếp các bài viết gần đây nhất")
            dataSearchAll = dataSearchAll.sort(
                (objA, objB) => Number(objB.createTime) - Number(objA.createTime),
            );
        } else {
            dataSearchAll = dataSearchAll.sort(
                (objA, objB) => Number(objA.createTime) - Number(objB.createTime),
            );
        }
        $("#listAllBlogSearchPC").empty();
        readMoreSearch()
    }
    </script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="../js/slide.js"></script>
    <script src="../js/app.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>

